// Modal
mixin modal(idtext, idlabel, title)
 .modal.fade(id=idtext data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby=idlabel aria-hidden='true')
    .modal-dialog
      .modal-content.rounded-0
        .modal-header
          h5.modal-title(id=idlabel)
            = title
        .modal-body
          if block
            block
          else
            p no content provided
        .modal-footer
          button.btn.btn-primary.rounded-0(type='button' data-bs-dismiss="modal") Fechar

+modal('drthales','drthalesLabel','Dr. Thales Brasil (CRO-DF 8330)')
  .text-center.mb-4
    img(src="assets/equipe/dr-thales.png", alt="Dr Thales Brasil")
  ul.text-sm
    li  Doutorado em implantodontia, São Leopoldo Mandic, Campinas.
    li  Mestrado em implantodontia, São Leopoldo Mandic, Campinas.
    li  Especialização em implantodontia, FUNORTE, Brasília.
    li  Especialização em cirurgia bucal avançada, São Leopoldo Mandic, Brasília.
    li  Especialização em periodontia, Associação Brasileira de Odontologia, Brasília.
    li  Curso de habilitação da prática de analgesia relativa ou sedação consciente com óxido nitroso, Associação Brasileira de Odontologia, Brasília.
    li  Curso de obtenção de Fibrina Leucoplaquetària Autológa e Venopunçāo para aplicações odontológicas, pelo Grupo de Estudos Avançados em Concentrados plaquetários.
    li  Curso de habilitação profissional com uso de Toxina Botulínica e Fios OroFaciais, pela Dental Internacional Filer Neurotoxin Education.
    li  Curso de atualização em prótese sobre implante de 20 anos da Nobel BioCare, Associação Brasileira de Odontologia, Brasília.
    li  Curso de atualização de prótese sobre implante, FUNORTE, Brasília.
    li  Graduado em odontologia, FOPLAC, Brasília.
    li  Curso de aperfeiçoamento cirurgia oral avançada, FUNORTE, Brasília.
    li  Curso de atualização em cirurgia, FUNORTE, Brasília.
    li  Curso de fotografia dontológica para dentistas, Associação Brasileira de Odontologia, Goiânia.
    li  Consultor científico na área de biomateriais.
    li  Cirurgião cadastrado no Sistema de Cirurgia Guiada por Computador (Sistema Bioparts).
    li  Professor do Curso de Especialização em Cirurgia Oral Avançada, realizado na São Leopoldo Mandic, Unidade Brasília.
    li  Membro do International Team for Implantology (ITI) Suiça.
    li  Cirurgião cadastrado no Sistema Nacional de Transplantes (banco de ossos).
    li  Diretor técnico do INSTITUTO ODONTOLÓGICO PERSONNALITÉ.
    li  Pós graduado em Ozonioterapia.
+modal('convenios','conveiosLabel','Convenios na Personnalité')
  ul.text-sm
    li Amil
    li Assefaz
    li Belo Dente
    li Bradesco
    li Capesesp
    li Care Plus
    li DentalUni
    li E-Vida
    li Golden Cross
    li IBI
    li Infraero
    li Inpao
    li Odontogroup
    li OdontoPrev
    li PlanAssiste
    li Prima Vida
    li Privian
    li Rede Odonto Empresas
    li Riachuelo
    li Saúde Sim
    li Sepao
    li Sulamerica
    li Supremo Tribunal Federal
    li Supremo Tribunal Militar
    li Supremo Tribunal de Justiça
    li Tribunal Superior do Trabalho
    li Unimed
    li Uniodonto
    li Porto Seguro
    li Pleno Odonto
    li Premium ssaúde
    li Odontomaxi
    li Interodonto
    li Odontolife
    li Uniodonto
    

